body {
    font-family: Arial, sans-serif;
    margin: auto;
    margin-bottom:100px;
    padding: 0;
    color:#4d4e53;
}
#Doc{
    text-align: center;
    font-size:30px;
    margin: 30px;
}

#navigation{
    border:2px solid black;
    height: 15vh;
    overflow:scroll;
    font-size:15px;

}
header{
    font-size:30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.main-section{
    width:90%;
    margin:auto;
}
code{
    background-color:lightgrey;
    height:5vh;
    margin-bottom: 7px;
    margin-top:7px;
    display: flex;
    align-items: center;


}
/* Media Query */
@media (max-width: 600px) {
    #navigation{
        height: 40vh;
    }
}
